// screen sizes
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;

//colors
$primary-color: #C6D5E5;
$secondary-color: #AAA7A7;
$tertiary-color: #ececec;
$quaternary-color:  #ced4da;

//font color
$primary-text-color: #fff;
$secondary-text-color: #AAA7A7;
$tertiary-text-color: #000;
$quaternary-text-color: #C6D5E5;

//background
$background-color: rgba(0, 0, 0, 0.8);

//fonts
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18x;

//transitions
$basic-transitions: .5s ease-in;